#paste {
    outline: 1px solid black;
    width: 100%;
    min-height: calc(100vh - 16px);
    box-sizing: border-box;
}

#download {
    position: fixed;
    bottom: 8px;
    left: 8px;
}

img {
    max-width: 100%;
    margin-right: 8px;
}
