body {
    background-color: #000;
    color: #888;
}

.message {
    margin-bottom: 8px;
    white-space: pre-wrap;
}

#input {
    box-sizing: border-box;
    width: 100%;
    min-height: 1em;
    max-height: 50vh;
    height: auto;
    padding: 8px;
    border: 1px solid #888;
    color: #5b78d7;
}

.message.self {
    color: #5b78d7;
}